h1{
    font-weight:bolder;
    text-align: center;
    background-color:#4c1dcc;
    color: #ccc ;
}
p{
    text-align: center;
    color: #ffffff;
}
ul{
    color: #ffffff;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(ima1.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position-x: center;
}
