h1{
    font-weight:bolder;
    text-align: center;
    background-color:#4c1dcc;
    color: #ccc ;
}
p{
    text-align: center;
    color: #ffffff;
}
.caja { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 20px; 
    font-weight: 200px;  
    background:rgba(133, 128, 128, 0.5) }
ul{
    color: #ffffff;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(ima1.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position-x: center;
}
